.button {
    -fx-font-family: 'JetBrains Mono ExtraBold';
    -fx-font-size: 50px;
    -fx-padding: 10 20;
    -fx-background-color: #fff;
    -fx-text-fill: #000;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-cursor: pointer;
    -fx-transition: background-color 0.3s, text-fill 0.3s;
}

.button:hover {
    -fx-background-color: #000;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
}
